/*
1. Posicionamiento --> static, absolute, relative, fixed
2. Modelo de caja (Box model) --> margin, border, padding, content
3. Tipografía --> tipos, tamaños de fuente, etc
4. Estilos visuales --> box-shadow, border-radius, gradient, etc
5. Otros --> reglas CSS y más
*/
:root {
  /* Colores */
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --black: #282623;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #fff;
  --linear-gradent: linear-gradient(
    207.8deg,
    var(--warm-black) 16.69%,
    var(--bitcoin-orange) 100%
  );
  --sombra-blanco: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

img {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

picture {
  display: block;
  line-height: 0px;
}

.Header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 32rem;
  height: 33.4rem;
  text-align: center;
  background: var(--linear-gradent);
}

.Header picture {
  width: 15.1rem;
  margin-top: 7.8rem;
}

.Header__title-container {
  width: 90%;
  min-width: 28.8rem;
  max-width: 90rem;
  margin-top: 3.3rem;
}

.Header__title {
  color: var(--just-white);
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.6rem;
}

.Header__description {
  color: var(--soft-orange);
  margin-top: 2.4rem;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.Header__button {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 22.9rem;
  height: 4.8rem;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--warm-black);
  background-color: var(--off-white);
  border-radius: 4px;
  font-size: 1, 4rem;
  font-weight: bold;
  box-shadow: var(--sombra-blanco);
}

.Header__button > span {
  background-image: url("./assets/icons/down-arrow.svg");
  width: 12px;
  height: 8px;
  margin-inline-start: 1.4rem;
}

.Main {
  min-width: 32rem;
  padding-inline: 5%;
  padding-block-start: 4rem;
  padding-block-end: 5rem;
  text-align: center;
  background-color: var(--off-white);
}

.Main__exchange-container {
  display: grid;
  justify-items: center;
}

.Main__btc-image {
  width: 19.5rem;
}

.Main__description > h2 {
  font-size: 2.4rem;
  line-height: 2.6rem;
  font-weight: bold;
  color: var(--warm-black);
}

.Main__description > p {
  margin-top: 2.4rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 500;
  color: #757575;
}

.Main__table-container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
  width: 100%;
  max-width: 320px;
}

.Main__card {
  display: grid;
  height: 20rem;
  width: 20rem;
  align-items: center;
  text-align: left;
}

.Main__table-header {
  text-align: left;
  font-weight: bold;
  font-size: 18px;
  color: var(--bitcoin-orange);
  margin-block-end: 0.4rem;
  padding: 0.8rem;
}

.Main__table {
  display: grid;
  grid-template-columns: 4fr 2fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  row-gap: 10px;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  background-color: var(--just-white);
  padding: 0.8rem;
}

.Main__last-update {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: var(--soft-orange);
  margin-block-start: 1.6rem;
  /* width: 90%;
  height: 3rem; */
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  padding: 0.8rem;
}

.trending-down-icon {
  background-image: url("./assets/icons/trending-down.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.trending-up-icon {
  background-image: url("./assets/icons/trending-up.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.Main__left-button {
  background-image: url("./assets/icons/trending-up.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.Main__right-button {
  display: flex;
  justify-content: center;
}

.Main__right-button > span {
  display: block;
  height: 2.4rem;
  width: 2.4rem;
  background-image: url("./assets/icons/right-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
}
